* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --borda: linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Mystery Quest", cursive;
  font-size: 1.6rem;
  background: linear-gradient(rgba(0, 0, 0, 0.789), rgba(0, 0, 0, 0.5)),
    url(/img/wp-maratona-explorer.jpg) no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  background-position: center center;
  overflow: overlay;
}

main {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 2.5rem;
  max-width: 60rem;
}

h1 {
  font-size: 6.5rem;
  margin-bottom: 5rem;
}
.gradient {
  background-image: linear-gradient(
    to bottom,
    rgb(106, 71, 11),
    rgb(226, 190, 43),
    rgb(224, 192, 64)
  );
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: #302f2c;
}

h1,
figcaption,
p {
  color: #d2a639;
  text-shadow: #302f2c;
  margin-bottom: 4rem;
}

figcaption,
p {
  font-size: 3rem;
}

input, button {
	display: block;
	width: 100%;
  
	padding: 20px;
	font-size: 20px;
	border-radius: 4px;
  }
  
  input {
	margin-bottom: 20px;
  }
  
  button {
	border: none;
	background-color: blueviolet;
	color: white;
	transition: filter .2s;
  }
  
  /* pseudo-class :hover */
  button:hover {
	filter: brightness(1.2);
	cursor: pointer;
  }

  body::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
	background: orange;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
	background-color: blue;    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 3px solid orange;  /* creates padding around scroll thumb */
  }


footer {
  width: 100%;
  margin: auto;
  background-color: rgba(128, 128, 128, 0.308);
  display: inline-block;
  align-items: center;
  text-align: center;
  justify-content: center;
}
